.nav.mobile {
  .navlist {
    position: fixed;
    top: 0;
    right: -150%;
    width: 100vw;
    height: 100vh;
    background: rgba(white, 0.8);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;

    &.open {
      right: 0;
    }

    .close {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      width: 3em;
      height: 3em;
      fill: $fc-primary;
      cursor: pointer;
    }
  }

  .navlink {
    display: block;
    color: $accent;
    text-decoration: inherit;
    font-weight: 700;
    font-size: 1.25rem;
    text-transform: uppercase;

    &.active {
      opacity: 0.2;
      cursor: default;
    }
  }
}

.nav.tablet,
.nav.desktop {
  display: flex;
  align-items: center;
  gap: 1em;

  .navlist {
    display: flex;
  }

  .navlink {
    display: block;
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
    font-size: 0.6rem;
    padding: 1em;

    @include desktop {
      font-size: 0.75rem;
      padding: 1.5em 1.1em;
    }

    &.active {
      opacity: 0.6;
      cursor: default;
    }

    &:hover:not(.active) {
      text-decoration: underline;
    }
  }
}

.telephone {
  display: none;

  @include tablet {
    display: initial;

    a,
    button {
      font-size: 1.25rem;
    }
  }
}

.hamburger {
  width: 2em;
  height: 2em;
  fill: $fc-primary;
  cursor: pointer;
}
